# -*- coding: utf-8; mode: python -*-

from os.path import join, abspath

# Database connection URI
SQLALCHEMY_DATABASE_URI = "sqlite:///../data/db.sqlite"

# Static assets craziness
self_path = lambda *p: abspath(join(__file__, '..', *p))
y_static_assets_path = lambda *p: self_path(
    '..', 'modules', 'yipit-static-assets', 'yipit_static_assets', *p)

COMPASS_CONFIG = dict(
    http_path='/',
    css_dir='css',
    sass_dir='sass',
    images_dir='img',
    javascripts_dir='js',
    generated_images_dir='./',
    http_generated_images_path='/static',
    http_images_path='/static',
    sprite_load_path=[
        self_path('static', 'img'),
        y_static_assets_path('static', 'img'),
    ],
    additional_import_paths=[
        y_static_assets_path('static', 'sass'),
    ]
)
