{% extends "octobase.html" %}
{% block navbar_classes %}navbar-no-pull{% endblock %}

{% block body %}
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      {% if is_self %}
      <h2>Your bookmarks</h2>
{% else %}
      <h2>{{ user.username }}'{{ user.username.endswith("s") and "" or "s" }} bookmarks</h2>
{% endif %}
      <br />
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>owner</th>
            <th>project</th>
            <th>tags</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           {% for bookmark in bookmarks %}
             {% set owner = RepoInfo(bookmark.url).owner %}
             {% set project = RepoInfo(bookmark.url).project %}
             {% set gb_url = url_for('.show_bookmark', owner=owner, project=project) %}
          <tr id="bookmark-row-{{ bookmark.id }}">
            <td>
              <a href="{{ gb_url }}">{{ project }}</a>
            </td>
            <td>
              <a href="{{ gb_url }}"">{{ owner }}</a>
            </td>
            <td>
              {% if is_self %}
              <form id="tags-{{ bookmark.id }}" data-bookmark-id="{{ bookmark.id }}" data-save-url="{{ url_for(".ajax_add_tags", bookmark_id=bookmark.id) }}" method="post">
                <select data-no-results-text="Type \"Enter\" to create " data-placeholder="Choose or create tags for {{ owner }}/{{ project }}" style="width:350px;" multiple class="chzn-select tags">
                        {% for tag in bookmark.tags %}<option value="{{ tag.name }}" selected="selected">{{ tag.name }}</option>{% endfor %}
                        {% for tag in remaining_tags_for(bookmark.tags) %}<option value="{{ tag.name }}">{{ tag.name }}</option>{% endfor %}
                </select>
              </form>
              {% else %}
                  {% for tag in bookmark.tags %}
              <span class="badge badge-{{ loop.cycle('info', 'success', 'inverse', 'warning', 'important', 'primary') }}">{{ tag.name }}</span>
                  {% endfor %}
              {% endif %}
            </td>
            <td>
              <a id="delete-bookmark-{{ bookmark.id }}" data-bookmark-name="{{ owner }}/{{ project }}" data-bookmark-id="{{ bookmark.id }}" data-delete-url="{{ url_for('.ajax_delete_bookmark', bookmark_id=bookmark.id) }}" class="delete-bookmark btn btn-warning" href="#delete-bookmark-{{ bookmark.id }}">Delete</a>
            </td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>




  <script type="text/javascript">
  if (!window.console) {
    window.console = {log: function(){}};
  }
  (function($){
    $(".tags").chosen();
    function save_tags(save_url, bookmark_id, tags) {
      $.ajax({
        url: save_url,
        type: "POST",
        data: JSON.stringify({
          bookmark_id: bookmark_id,
          tags: tags
        }),
        dataType: "json",
        contentType: "application/json",
        success: function(data) {
          console.log("GOT", data);
          $("#bookmark-row-" + bookmark_id).find("ul.chzn-choices").effect("highlight", {}, 1500);
        },
        error: function(){
          console.log("ERROR", arguments);
        }
      });
    }
    $(".delete-bookmark").on('click', function(e){
      var $self = $(this);
      var delete_url = $self.data("delete-url");
      var bookmark_id = $self.data("bookmark-id");
      var bookmark_name = $self.data("bookmark-name");
      if (confirm("Are you sure you want to delete " + bookmark_name + " from your bookmarks ?")) {
        $.ajax({
          url: delete_url,
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          success: function(data) {
            $self.attr("disabled", "true");
            $("#bookmark-row-" + bookmark_id).css("opacity", ".5").effect("highlight", 1000, function(){
              $(this).remove();
            });
          },
          error: function(){
            console.log("ERROR", arguments);
          }
        });
      }
      return e.preventDefault();
    });
    $(".chzn-choices .search-field input[type=text]").on('keydown', function(e){
      var $self = $(this);
      var $form = $self.parents("form");
      var $select = $form.find("select");
      var tags = [];
      var bookmark_id = parseInt($self.parents("form").data("bookmark-id"), 10);
      var save_url = $self.parents("form").data("save-url");

      $select.find("option:selected").each(function(){
        var $option = $(this);
        tags.push($option.text().trim());
      });
      if (e.keyCode < 20) {
        var new_tag = $self.val().trim();
        var should_create = new_tag.length > 0;
        var should_update = new_tag.length === 0;

        if (should_create) {
          var new_option = $(['<option value="', new_tag, '" selected="true">', new_tag, '</option>'].join(''));
          console.log(new_option.text());
          console.log($select);
          $select.append(new_option);
          $select.trigger("liszt:updated");
        } else {
          save_tags(save_url, bookmark_id, tags);
        }
      }
    });
  })(window.jQuery);
  </script>
{% endblock %}
