{% extends "octobase.html" %}

{% block body %}
<div class="vcard">
  <span class="fn">{{ owner.name }}</span>
  <span class="n">
    <span class="honorific-prefix">Programmer</span>
    <span class="given-name">{{ owner.name }}</span>
    <span class="nickname">{{ owner.login }}</span>
    <div class="org">{{ owner.company }}</div>
    <img class="photo" src="{{ owner.avatar_url }}"/>
    <a class="url" href="{{ owner.html_url }}">w</a>,
    <div class="adr">
      <span class="locality">{{ owner.location }}</span>,
    </div>
    <div class="category">github</div>
    <div class="note">{{ owner.bio }}</div>
  </span>
</div>
    <div class="container">
      <div class="row-fluid">
        <div class="span4">
          <div class="project-logo-container">
            <div class="project-logo">
              <h1>{{ repository.name }}</h1>
              <p class="version">{{ repository.last_version }}</p>
            </div>
            <p class="project-owner">
              by {{ repository.owner.login }}
            </p>
          </div><!--.project-logo-container-->
        </div><!--.span4-->
        <div class="span5 offset1 search-container">
          <input type="text" placeholder="search in {{ repository.name }} docs" class="search-box"/>
          <input type="button" value="docs" class="search-btn" />
        </div>
        <div class="span2">
          <a href="{{ repository.html_url }}" class="github-btn"><img src="{{ url_for('static', v=settings.RELEASE, filename='img/octocat-mini-white.png') }}" />github</a>
        </div>
      </div>
    </div>

    <div class="container project-doc">
      <div class="row-fluid">
        <div class="span3 project-doc-index">
          <ul class="nav nav-tabs nav-stacked">
              <li>
                <a href="#"><h2>In a nutshell</h2></a>
              </li>
              <li>
                <a href="#"><h2>Tutorial</h2></a>
              </li>
              <li class="sub">
                <a href="#"><h3>The decorator</h3></a>
              </li>
              <li class="sub">
                <a href="#"><h3>Expecting a status code</h3></a>
              </li>
              <li class="sub">
                <a href="#"><h3>Expecting a response body</h3></a>
              </li>
              <li class="sub">
                <a href="#"><h3>Rotating responses</h3></a>
              </li>
              <li class="sub">
                <a href="#"><h3>Streaming responses</h3></a>
              </li>
              <li class="sub active">
                <a href="#"><h3>Dynamic responses</h3></a>
              </li>
          </ul>
        </div>
        <div class="span8">
          <article class="code-area">{{ readme|safe }}</article>
        </div>
      </div>
    </div>
{% endblock %}
