{% extends "octobase.html" %}
{% block navbar_classes %}navbar-with-handle{% endblock %}
{% block css_head %}
{% if user %}
  {% set theme_url = user.get_theme()['url'] %}
{% else %}
  {% set theme_url = default_theme_url %}
{% endif %}

<link rel="stylesheet" href="{{ theme_url }}" type="text/css" media="screen" />
{% endblock %}


{% block body %}
<div class="vcard">
  <span class="fn">{{ owner.name }}</span>
  <span class="n">
    <span class="honorific-prefix">Programmer</span>
    <span class="given-name">{{ owner.name }}</span>
    <span class="nickname">{{ owner.login }}</span>
    <div class="org">{{ owner.company }}</div>
    <img class="photo" src="{{ owner.avatar_url }}"/>
    <a class="url" href="{{ owner.html_url }}">w</a>,
    <div class="adr">
      <span class="locality">{{ owner.location }}</span>,
    </div>
    <div class="category">github</div>
    <div class="note">{{ owner.bio }}</div>
  </span>
</div>
    <div class="container">
      <div class="row-fluid">
        <div class="span4">
          <div class="project-logo-container">
            <div class="project-logo">
              <h1>{{ repository.name }}</h1>
              <p class="version">{{ repository.last_version }}</p>
            </div>
            <p class="project-owner">
              by {{ repository.owner.login }}
            </p>
          </div><!--.project-logo-container-->
        </div><!--.span4-->
        <div class="span5 search-container">
          <input type="text" placeholder="search in {{ repository.name }} docs" class="search-box"/>
          <input type="button" value="docs" class="search-btn" />
        </div>
        <div class="span2">
          <a href="{{ repository.html_url }}" class="github-btn"><img src="{{ url_for('static', v=settings.RELEASE, filename='img/octocat-mini-white.png') }}" />github</a>
        </div>
      </div>
    </div>

    <div class="container project-doc">
      <div class="row-fluid">
        <div class="span3 project-doc-index" id="index-container">
          {% if documentation_index %}
          <ul class="nav nav-tabs nav-stacked">
            {% for header in documentation_index %}
              {{ render_header(header) }}
            {% endfor %}
          </ul>
          {% else %}
          <div class="alert">
            <strong>{{ repository.name }}</strong> doesn't use markdown, so we don't support indexing for it
            <hr />

            <a class="toggle-readme" href="#toggle-readme">click here</a> to expand the readme
          </div>
          {% endif %}

        </div>
        <div id="readme-container" class="span8">
          <article class="code-area">
            {{ documentation|safe }}
          </article>
          <div class="actions">
            <a href="#toggle-readme" class="toggle-readme btn">
              <i class="icon-resize-full"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
$(function(){
  $(".toggle-readme").on("click", function(e){
    var $icon = $(this).find("i");
    var $readme_container = $("#readme-container");
    var $index_container = $("#index-container");
    if ($readme_container.hasClass("span8")) {
      $readme_container.removeClass("span8").addClass("span12");
      $index_container.hide();
      $icon.removeClass("icon-resize-full").addClass("icon-resize-small");
    } else {
      $readme_container.removeClass("span12").addClass("span8");
      $index_container.show();
      $icon.removeClass("icon-resize-small").addClass("icon-resize-full");
    }
    return e.preventDefault();
  });
});
</script>
{% endblock %}

{% macro render_header(header) -%}
  <li class="{% if header.level > 1 %}sub{% endif %}">
    <a href="{{ header.anchor }}"><h{{ header.level }}>{{ header.text|safe }}</h{{ header.level }}></a>
  </li>
  {% if 'child' in header %}
    {% for child in header['child'] %}
      {{ render_header(child) }}
    {% endfor %}
  {% endif %}
{%- endmacro %}