<!DOCTYPE html>
<html lang="en">

    <head>
        {% block before_head %}{% endblock %}

        <meta charset="utf-8">

        <title>{% block title %}Yipit Merchants{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yipit Merchant is an analytics dashboard that will help Merchants get new clients and be informed about their competitors.">
        <meta name="author" content="Yipit's SaMBa">

        <link rel="shortcut icon" href="/favicon.png">

        {% block after_head %}
            {% assets "main_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
            {% endassets %}
        {% endblock %}
    </head>

    <body {% block body_attrs %}{% endblock %}>
        {% block before_body %}{% endblock %}

        {% block content %}{% endblock %}

        {% block after_body %}
            {% assets "main_js" %}
            <script src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endblock %}
    </body>

</html>

