{% extends "pages/navbar.html" %}


{% block content %}
<div class="row">
  <div class="span12">
    <h2 class="page-title">Run your first deal with us</h2>
    <br />
  </div>
</div>

<div class="row">
  <div class="span5">
    <p class="paragraph-mutreta">We'll feature your business in a <strong>dedicated email</strong> to
      <strong>1,000+ highly-targeted customers near your
business.</strong></p>
      <p class="paragraph-mutreta">
Our team of professionals will work with you to structure
a deal that maximizes success for your business.
      </p>

      <p class="paragraph-mutreta">
You keep <strong>100%</strong> of the proceeds, with only a flat
monthly cost of <strong>$200</strong>, and no long-term contract
        <strong>- you can cancel anytime.</strong>
      </p>

      <p class="paragraph-mutreta"> Sign up below, and our team will
be in touch within one business day to provide more information.</p>

      <div class="form-mutreta offset1">
        <div style="float: left">
          <label for="cc-number" class="label-mutreta">Credit card number:</label>
          <input type="text" name="cc-number" id="cc-number" class="input-mutreta" style="width: 160px; margin-right:4px" placeholder="0000 1111 2222 3333"/>
        </div>

        <div style="float: left">
          <label for="expires" class="label-mutreta">Expires:</label>
          <input type="text" name="expires" id="expires" class="input-mutreta" style="width: 80px;" placeholder="MM/YY"/>
        </div>

        <div style="float: left">
          <label for="cc-number" class="label-mutreta">Name on card:</label>
          <input type="text" name="cc-number" id="cc-number" class="input-mutreta" style="width: 160px; margin-right:4px" placeholder="John Doe"/>
        </div>

        <div style="float: left">
          <label for="expires" class="label-mutreta">Card code:</label>
          <input type="text" name="expires" id="expires" class="input-mutreta" style="width: 80px;" placeholder="CVV"/>
        </div>

        <div style="float: left">
          <a class="button-mutreta green medium small-text" href="/signup">Sign up - only $200/mo</a>
        </div>
      </div>

  </div>

  <div class="span5 offset1">
    <h2 class="page-title">Preview</h2>

    <div class="preview-purchase">
    </div>
  </div>

</div>


{% endblock %}