{% extends "pages/navbar.html" %}


{% block body_attrs %}class="p-signup"{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2 class="page-title">Claim your business profile</h2>
    </div>
</div>

<div class="row">
    <div class="span5">
        <h3 class="page-title-3">Step 1: Find your business on Yipit</h3>

        <form method="post" id="mano-merchant-neves" action="{{ url_for('.signup') }}">

            <img style="float: left" src="/static/img/merchants-magnifier-icon.png" />

            {{ form.business_id(class='input-mutreta input-mutreta-search with-placeholder js-autocomplete', placeholder='start typing your business name...',
                                **{'data-autocomplete-source': "businesses"}) }}
            {% if form.business_id.errors %}
            <ul class="errors">{% for error in form.business_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <h3 class="page-title-3">Step 2: Provide your information</h3>

            {{ form.first_name(class='input-mutreta with-placeholder', placeholder='Zachary') }}
            {% if form.first_name.errors %}
            <ul class="errors">{% for error in form.first_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            {{ form.last_name(class='input-mutreta with-placeholder', placeholder='Smith') }}
            {% if form.last_name.errors %}
            <ul class="errors">{% for error in form.last_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            {{ form.email(class='input-mutreta with-placeholder') }}
            {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            {{ form.password(class='input-mutreta with-placeholder') }}
            {% if form.password.errors %}
            <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            {{ form.confirm(class='input-mutreta with-placeholder') }}
            {% if form.confirm.errors %}
            <ul class="errors">{% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <input type="submit" name="submit" value="Create your FREE profile"
                   class="btn btn-primary" style="float: right">

        </form>
    </div>

    <div class="span6 offset1">
        <ul class="highlights-list">
            <li>
                <h3>Attract more customers with a premium profile</h3>
                <p>
                    Update your address and contact information, and bring more
                    customers through your doors with reviews and photos
                </p>
            </li>
            <li>
                <h3>Track your competitors</h3>
                <p>
                    We'll show you how daily deals are performing in your neighborhood,
                    and alert you when your competitors launch campaigns
                </p>
            </li>
            <li>
                <h3>Run a deal</h3>
                <p>We'll feature your business and help you attract nearby customers</p>
            </li>
        </ul>
        <img src="/static/img/merchants-imac.png" />
    </div>
</div>

{% endblock %}


