{% extends "pages/navbar.html" %}


{% block content %}
<div class="row">
    <div class="span12">
        <h2 class="page-title">Sign up</h2>
    </div>
</div>

<div class="row">
    <div class="span6">
      <img src="/static/img/merchants-checkmark.png" />
      <img src="/static/img/merchants-imac.png" />
      <img src="/static/img/merchants-magnifier-icon.png" />

      <input type="text" name="first-name" class="input-mutreta with-placeholder" placeholder="Type your name here..."/>
      <input type="text" name="last-name" class="input-mutreta" value="Smith" />
    </div>
</div>

{% endblock %}