{% extends "pages/navbar.html" %}


{% block content %}
<div class="row">
    <div class="span12">
        <h2 class="page-title jumbo">Reach 1000+ nearby customers
with a Dedicated Email</h2>
    </div>
</div>


<div class="row">
    <div class="span6">
      <div class="teaser-preview">
        <img src="/static/img/merchants-teaser-preview.png" class="" alt="" />
      </div>
    </div>
    <div class="span6">
        <h3 class="callout-text">Yipit can help you <span class="advantage">reach 1,000+ customers within miles of your business.</span></h3>
    </div>
    <div class="span6">
        <h3 class="callout-text">We'll feature your business in a unique
<span class="advantage">dedicated email</span> sent to a <span class="advantage">highly-
targeted</span> segment of our users.</h3>
    </div>
    <div class="span6">
        <h3 class="callout-text">Our deals allow you to <span class="advantage">keep 100% of
the proceeds</span>, with only a low monthly
cost and no long-term contract. </h3>
    </div>

    <div class="span6">
      <a class="preview-button" href="/preview">Preview your deal for free</a>
    </div>
</div>
{% endblock %}
