{% extends "pages/navbar.html" %}


{% block content %}
<div class="row">
    <div class="span12">
        <h2 class="page-title">Dashboard</h2>
    </div>
</div>

<div class="row">
    <div class="span8">
        <div class="widget"></div>
    </div>
    <div class="span4">
        <div class="widget">
            <button class="widget-config-btn" href="#"></button>
            <p class="widget-title">Potential customers in your area</p>
            <div class="widget-area">
                <img src=""/>
            </div>
        </div>
    </div>
</div>

{% endblock %}
