{% extends "pages/navbar.html" %}


{% block content %}
<div class="row">
    <div class="span12">
        <h2 class="page-title">Dashboard</h2>
    </div>
</div>

<div class="row">
    <div class="span8">
        <div class="widget">
            <p class="widget-title">Tracked competitors' sales in your region</p>
            <div class="widget-area">
                <img src="{{ url_for('.chart1') }}" style="width:100%">
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="widget">
            <div class="dropdown-base-container js-dropdown config-btn">
                <button class="widget-config-btn js-dropdown-toggler"></button>
                <ul class="widget-menu dropdown-base-menu point-left">
                    <li class="widget-menu-item"><a class="widget-menu-item-link" href="#">item 1</a></li>
                    <li class="widget-menu-item"><a class="widget-menu-item-link" href="#">item 2</a></li>
                    <li class="widget-menu-item"><a class="widget-menu-item-link" href="#">item 3</a></li>
                </ul>
            </div>
            <p class="widget-title">Potential customers in your area</p>
            <div class="widget-area">
                <img src="/static/img/map.png" style="width:100%">
            </div>
        </div>
    </div>
</div>

{% endblock %}

