{% extends "pages/navbar.html" %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="span12">
            <h2 class="page-title-2">Create a campaign</h2>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="post" id="find-competitors" action="./">
                <div class="controls">
                    <div class="input-append">
                        <input type="text" name="search" placeholder="find competitors here...">
                        <button class="btn"><i class="icon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="span4">
            you will be notified anytime a competitor runs a deal or go
            to the bathroom, or make a phone call to his wife...
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <h3 class="page-title-3">track competitors</h3>
            <ul class="dashboard-competitors-list">
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #1</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #2</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #3</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #4</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #5</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #6</a></li>
                <li><a class="dashboard-competitors-list-item" href="#">tracked competitor #7</a></li>
            </ul>
        </div>

        <div class="span4">
            <div class="map-container">
                <h3>Potential competitors in your area</h3>
                <div class="map">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
