<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>github bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The easy and quick way to organize your github favorite projects by categories" />
    <meta name="author" content="Gabriel Falcão" />
    {% block meta %}{% endblock %}
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/gb.main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/gb.base-elements.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/gb.navbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/gb.project-bar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/gb.feed.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='chosen/chosen.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='img/favicon.png') }}" rel="shortcut icon" />
    <script type="text/javascript" src="{{ url_for('static', v=settings.RELEASE, filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', v=settings.RELEASE, filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', v=settings.RELEASE, filename='chosen/chosen.jquery.min.js') }}"></script>
    {% block css_head %}{% endblock %}
    {% block js_head %}{% endblock %}
  </head>

  <body>
    {% block user %}
    {% if user %}
    <div id="profile-menu">
      <a href="{{ full_url_for(".bookmarks", username=user.username) }}">
        <span id="profile-picture">
          <img src="https://secure.gravatar.com/avatar/{{ user.gravatar_id }}?s=70" alt="{{ user.username }}" width="70" height="70"/>
        </span>
        <p class="username">{{ user.username }}</p>
      </a>
      <div class="options">
        <a href="{{ full_url_for(".bookmarks", username=user.username) }}">(your bookmarks)</a>
        <a href="{{ full_url_for(".logout") }}">(logout)</a>
      </div>
    </div>
    {% else %}
    <div id="profile-menu">
      <a href="{{ full_url_for(".login") }}">
        <p class="username">sign in with github</p>
      </a>
    </div>
    {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}

    <footer class="footer">
      <p>
        by <a href="http://falcao.it/">Gabriel Falc&atilde;o</a>
      </p>
    </footer>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1277640-16', 'github-bookmarks.com');
    ga('send', 'pageview');

    </script>
  </body>
</html>
