<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>github bookmarks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The easy and quick way to organize your github favorite projects by categories" />
    <meta name="author" content="Gabriel Falcão" />
    {% block meta %}{% endblock %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gb.main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gb.base-elements.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gb.navbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gb.project-bar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gb.feed.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" />
    {% block css_head %}{% endblock %}
    {% block js_head %}{% endblock %}
  </head>

  <body>
    {% if user %}
    <div id="profile-menu">
      <span id="profile-picture">
        <a href="http://github.com/{{ user.username }}">
          <img src="https://secure.gravatar.com/avatar/{{ user.gravatar_id }}?s=70" alt="{{ user.username }}" />
        </a>
      </span>
      <p class="username">{{ user.username }}</p>
    </div>
    {% endif %}
    {% block body %}{% endblock %}
  </body>
</html>
