{% extends "base.html" %}

{% block body %}
<div class="container">
  {% include "logo.html" %}
  <div class="row-fluid">
    <div class="span5 offset3">
      <h2>Save a bookmark</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset3">
      <div class="uri-wrapper">
        <span id="uri-message" {% if error %}class="opaque"{% endif %}>{% if error  %}{{ error }}{% endif %}</span>
        <input id="uri" class="classy-input" type="text" name="bookmark_url" placeholder="paste a github page or repository url here..." {% if uri %}value="{{ uri }}"{% endif %}/>
      </div>

    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <input type="button" id="main-save" class="btn btn-large btn-warning" name="action" value="save" {% if not uri %}disabled="true" {% endif %}/>
    </div>
  </div>

  {% if True == False %}
  <div class="bookmarklet-container">
    <br />
    <br />
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large" value="btn btn-large" />
        <input type="button" class="btn" value="btn" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large btn-success" value="btn-success" />
        <input type="button" class="btn btn-success" value="btn-success" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large btn-warning" value="btn-warning" />
        <input type="button" class="btn btn-warning" value="btn-warning" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large btn-error" value="btn-error" />
        <input type="button" class="btn btn-error" value="btn-error" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large btn-primary" value="btn-primary" />
        <input type="button" class="btn btn-primary" value="btn-primary" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <input type="button" class="btn btn-large btn-inverse" value="btn-inverse" />
        <input type="button" class="btn btn-inverse" value="btn-inverse" />
      </div>
    </div>
  </div>
  {% endif %}
    <div class="row-fluid">
      <div class="span6 offset3">
        {% set bookmarklet_url = full_url_for(".save_bookmark", token=user.gb_token) %}

        {% if user.username == "gabrielfalcao" %}
        <a class="btn btn-success btn-large" href="javascript: (function () { location.href='{{ bookmarklet_url }}?uri='+encodeURIComponent(location.href)+'&should_redirect=1'}());">save github favorite</a>
        {% endif %}
    </div>
    </div>
</div>

<script type="text/javascript">
(function($){
  function save_bookmark(){
    var entered_uri = $("#uri").val();

    if (!/([\w_-]+[.])?github.(com|io)[/][^/]+/.exec(entered_uri)){
      $("#uri-message").text("Invalid github URL").addClass("show-up");
      $("#logo").addClass("shake");
      $("#uri").effect("highlight", 3000, function(){
        $("#uri-message").removeClass("show-up").addClass("opaque");
        $("#logo").removeClass("shake");
      });
      return;
    }
    $("#uri").addClass("shake");
    location.href='{{ settings.absurl(url_for(".save_bookmark", token=user.gb_token)) }}?uri=' + encodeURIComponent(entered_uri);
  }
  $("#uri").on("keydown", function(e){
    if (e.keyCode === 13) {
      save_bookmark();
    }
  });
  $("#main-save").on("click", save_bookmark);

  function enable_save(){
    var text = $(this).val().trim();
    if (text.length > 0) {
      $("#main-save").removeAttr("disabled");
    } else {
      $("#main-save").attr("disabled", "disabled");
    }
  }

  $("#uri").on("keyup", enable_save);
  $("#uri").on("keydown", enable_save);
  $("#uri").on("mouseup", enable_save);
  $("#uri").on("mousedown", enable_save);

})(window.jQuery);
</script>
{% endblock %}
