{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row-fluid">
    <div id="profile-menu" class="span3 offset9">
      <span class="username">{{ user.username }}</span>
      <img id="profile-picture" src="https://secure.gravatar.com/avatar/3fa0df5c54f5ac0f8652d992d7d24039?s=70" alt="Gabriel Falcao" />
    </div>
  </div>
  <div class="row-fluid">
    <div id="logo" class="span4 offset4">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo for github bookmarks" />
    </div>
  </div>
</div>
{% endblock %}
