{% extends "base.html" %}

{% block body %}
<div id="profile-menu">
  <span id="profile-picture">
    <a href="http://github.com/{{ user.username }}">
      <img src="https://secure.gravatar.com/avatar/3fa0df5c54f5ac0f8652d992d7d24039?s=70" alt="Gabriel Falcao" />
    </a>
  </span>
  <p class="username">{{ user.username }}</p>
</div>

<div class="container">
  <div class="row-fluid">
    <div id="logo" class="span4 offset4">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo for github bookmarks" />
    </div>
  </div>
  <br />
  <br />
  <div class="row-fluid">
    <div class="span5 offset3">
      <input class="classy-input" type="text" name="bookmark_url" placeholder="http://github.com/username/project" />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset7">
      <input type="button" class="btn btn-large" name="action" value="save" disabled="true" />
    </div>
  </div>
</div>
{% endblock %}
