{% extends "base.html" %}

{% block meta %}
<meta http-equiv="refresh" content="3;URL='{{ uri }}'">
{% endblock %}
{% block body %}
<div class="container">
  {% include "logo.html" %}
  <div class="row-fluid">
    <div class="span12">
      <h2>{{ repository_info.project }} saved!</h2>
      <h3>you also just made {{ repository_info.owner }} happy with an extra star :)</h3>

      <hr />
      <h5>We also added the tags {{ ", ".join(tags.keys()) }}</h5>
    </div>
  </div>
</div>
{% endblock %}
