.octomarks .navbar {
  position:relative;
  margin-top:0px;
  margin-bottom: 80px;
}

.octomarks .navbar.navbar-stashed {
  margin-top: -40px;
  margin-bottom: 40px;
}
.octomarks .navbar.navbar-stashed .profile {
  opacity: 0;
}

.octomarks .navbar .navbar-inner {
  position:relative;
}

.octomarks .navbar .navbar-handle-container {
  position:relative;
  float: left;
  margin: 0;
  padding: 0;
  background:red;
  height:51px;
}
.octomarks .navbar.navbar-with-handle .navbar-handle {
  display: inline-block;
  position:absolute;
  background-image: url(../img/navbar-pull-down-handle.png);
  background-repeat: no-repeat;
  width: 48px;
  height:28px;
  background-position: 0 -3px;
  bottom: -27px;
  left: 18px;
}

.octomarks .navbar.navbar-no-pull .navbar-handle {
  display: none;
}

.octomarks .navbar-inner, .octomarks .navbar-inner * {
  color: white;
  text-shadow: none;
  font-size: 16px;
  font-weight: 300;
}

.octomarks .navbar-inner p {
  font-weight: 100;
}


.octomarks .navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  text-shadow: 0;
  border: 1px solid #336;
  background: #9f9fc6;
  -moz-box-shadow: inset 0 0 1px 0 #d8d8ff;
  -webkit-box-shadow: inset 0 0 1px 0 #d8d8ff;
  box-shadow: inset 0 0 1px 0 #d8d8ff;
  height: 50px;
}

.octomarks .navbar-inner ul.nav li {
  margin-top: 6px;
  text-shadow: none;
  margin:0;
  padding: 0;
}
.octomarks .navbar-inner ul.nav li a {
  background: transparent;
  text-shadow: none;
  margin: 0;
  padding: 14px 20px 14px 20px;
  color: #FFF;
}

.octomarks .navbar-inner ul.nav li.active a {
  background: rgba(255, 255, 247, .1);
}

.profile-pic-container {
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: rgba(255,255,255,1.0);
}
.profile-pic-container, .profile-pic-container img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: inset 0 2px 2px rgba(52,73,94,.74);
  -webkit-box-shadow: inset 0 2px 2px rgba(52,73,94,.74);
  box-shadow: inset 0 2px 2px rgba(52,73,94,.74);
}
@keyframes rotatepic {
  0% {
      transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      opacity: .85;
  }
  50% {
      transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      opacity: .8;
  }
  100% {
      transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      opacity: .85;
  }
}
@-webkit-keyframes rotatepic
{
  0% {
      transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      opacity: .85;
  }
  50% {
      transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      opacity: .8;
  }
  100% {
      transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      opacity: .85;
  }
}

.profile-pic-container img:hover {
  animation: rotatepic 200ms infinite ease-in-out;
  -webkit-animation: rotatepic 200ms infinite ease-in-out;
  opacity: .8;
}
