#profile-picture {
  opacity: .8;
  border: 3px solid #fff;
  background-color: #999;
  moz-border-radius: 50px;
  webkit-border-radius: 50px;
  border-radius: 50px;
  moz-background-clip: padding;
  webkit-background-clip: padding-box;
  background-clip: padding-box;
  moz-box-shadow: 0 10px 10px rgba(41,128,185,.8);
  webkit-box-shadow: 0 10px 10px rgba(41,128,185,.8);
  box-shadow: 0 10px 10px rgba(41,128,185,.8);
}
#profile-picture:hover {
  opacity: 1;
}

#profile-menu .username {
  margin-right: 3px;
}
