<div class="top-nav">
    <div class="container">
        <div class="header-logo">
            <a href="/" title="Yipit" class="header-logo-content">
                <span class="header-logo-logo logo-yipit_2"></span>
            </a>
        </div>
        <div class="header-nav">
            <ul>
                <li class="header-nav-item header-nav-item-merchants">
                    <div class="btn-group dropdown-hover js-dropdown">
                        <span class="dropdown-toggle js-dropdown-toggler">
                            <span class="header-nav-item-icon icon-merchants"></span>Merchants
                        </span>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('views.dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('views.dashboard_competitors') }}">Track Competitors</a></li>
                            <li><a href="#">Run a Deal</a></li>
                            <li><a href="#">Monitor your deals</a></li>
                        </ul>
                    </div>
                </li>

                <li class="header-nav-item header-nav-item-admin">
                    <div class="btn-group dropdown-hover js-dropdown">
                        <span class="dropdown-toggle js-dropdown-toggler">
                            <span class="header-nav-item-icon">Admin</span>
                        </span>
                        <ul class="dropdown-menu">
                            <li><a href="#">stuff</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bottom-border"></div>
</div>
