.dropdown-base-container {
    position: relative;

    &.open {
        .dropdown-base-menu {
            visibility: visible;
        }
    }
}

.dropdown-base-menu {
    position: absolute;
    top: 100%;
    visibility: hidden;

    &.point-left {
        right: 0;
    }

    &.point-right {
        left: 0;
    }
}
