.highlights-list {
    margin-bottom: 40px;

    li {
        background: url(../img/merchants-checkmark.png) 0 5px no-repeat;
        padding-left: 46px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}

.p-signup {
    .input-mutreta {
        padding: 15px 8px 13px 8px;
        @include box-sizing(border-box);
    }
    .input-mutreta-search {
        width: 375px;
        margin-top: 6px;
        margin-left: 7px;
    }

    .btn-primary {
        @include background-clip(padding-box);
        @include background-image(linear-gradient(bottom, #66a828 0%, #90db4a 100%));
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        box-shadow: inset 0 -2px 2px rgba(84,84,84,.29);
        background-color: #8cc63e;
        border: 1px solid rgba(255,255,255,.2);
    }
}
