.highlights-list {
    margin-bottom: 40px;

    li {
        background: url(../img/merchants-checkmark.png) 0 5px no-repeat;
        padding-left: 46px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}
